html, body {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  }

/* navbar */
.navbar {
  padding-top: 20px;
  background-color: #181818;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
   color: #00b3ff!important;
}

.teks {
  color: blue;  !important
}

.navbar a {
  color: white;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 17px;
}

.navbar img {
  width: 150px;
}

/* jumbotron */
.jumbotron {
  background-image: url(../img/header1.jpg);
  background-size: cover;
  background-position: center;
  height: 650px;
  position: relative;
  z-index: -1;
  top: -20px;
}

/* tentang kami */
span {
  font-weight: bold;
}

.about {
  margin-top: 80px;
  padding-top: 40px;
}

.header2 {
  background-image: url(../img/header2.jpg);
  background-size: cover;
  background-position: center;
  height: 640px;
  position: relative;
}

/* footer */
.footer {
  margin-top: 40px;
  background-image: url(../img/footer.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
}